# Canale Playwright: pilota l'Edge gia installato sul PC, nessun download extra
EDGE_CHANNEL=msedge

HOST=0.0.0.0
PORT=3131
SERVER_PROTOCOL=https
SSL_KEY=certs/key.pem
SSL_CERT=certs/cert.pem
CORS_ORIGIN=https://saas.hrzucchetti.it
BOOKMARKLET_SERVER=https://172.24.217.186:3131
